<div class="dashboard">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="sidebar-header">
        <h2>Stock System</h2>
        <p>Admin Dashboard</p>
      </div>
      <div class="sidebar-menu">
        <div class="menu-item active" routerLinkActive="active" [routerLink]="['dashboard']">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </div>
        <div class="menu-item" routerLinkActive="active" [routerLink]="['user-dashboard']" >
          <mat-icon>group</mat-icon>
          <span>User Dashboard</span>
        </div>
        <div class="menu-item" routerLinkActive="active" [routerLink]="['user-management']">
          <mat-icon>supervisor_account</mat-icon>
          <span>User Management</span>
        </div>

        <div class="menu-item" routerLinkActive="active" [routerLink]="['asset-management']">
          <mat-icon>devices_other</mat-icon>
          <span>Asset Management</span>
        </div>

        <div class="menu-item" routerLinkActive="active" [routerLink]="['inventory-management']">
          <mat-icon>inventory</mat-icon>
          <span>Inventory Management</span>
        </div>
        
        <div class="menu-item" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </div>
      </div>
    </div>
  
    <!-- Main Content -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
</div>
